#main_game {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding-top: 92px;
}


main section{
    height: 100%
}

.gameboard table {
  width: 90%;
  height: 90%;
  margin: auto;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.gameboard td {
  width: 20%;
  height: 20%;
}

.gameboard button {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  background-color: lightblue;
  border: none;
  border-radius: 5px;
}

.gameboard button .newGame{
    background-color: darkslategray;
    color: white;
}

.gameboard button:hover {
    background-color: rgb(136, 205, 228);
    border: 2px black;
}

.sidebar {
    flex: 0 0 16%;
    display: flex;
    flex-direction: column;
    align-items:normal;

    background-color: lightblue;
}

.gameboard {
    flex: 1 0 74%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.apiplace {
    flex: 0 0 10%;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}