main {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding-top: 92px; /* prevents going under fixed-top navbar */
}


main section{
    height: 100%
}

.sidebar {
    flex: 1 15%;
    display: flex;
    flex-direction: column;
    align-items:normal;

    background-color: lightblue;
}

.gameboard {
    flex: 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.apiplace {
    flex: 1 20%;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}