main {
    flex-direction: row;
}

.sidebar {
    flex: 1 15%;
    display: flex;
    flex-direction: column;
    align-items:normal;
    justify-content: baseline;

    background-color: lightblue;
}

.gameboard {
    flex: 1 50%;
    display: flex;
    flex-direction: column;
}

.apiplace {
    flex: 1 20%;
    display: flex;
    flex-direction: column;

}