
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Header for each page */
/* header {
    flex: 1 10vh;
    flex-direction: column;

    background-color: darkslategrey;
    color: black;
} */

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

span {
    font-family: "Courier New", Courier, monospace;
}

menu {
  flex: 1;
  display: flex;
  /*  overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
}

footer {
    background-color: darkslategrey;
    color: white;
}

.navbar {
    background-color: darkslategrey;
}

.navbar .navbar-brand {
    padding-left: 1%;
    font-size: 2rem;
}

.nav-link {
    margin: 10px;
}