@import url('https://fonts.googleapis.com');


html {
    height: 100%;
    margin: 0;
}


.body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Header for each page */
/* header {
    flex: 1 10vh;
    flex-direction: column;

    background-color: darkslategrey;
    color: black;
} */

main {
  flex: 1;
  display: flex;
  padding-top: 56px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main span {
    font-family: 'Roboto Mono', monospace;
}

menu {
  flex: 1;
  display: flex;
  /*  overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
}

footer {
    background-color: darkslategrey;
    color: white;

    flex: 0 40px;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

footer a {
    color: white;
}

.navbar {
    background-color: darkslategrey;
}

.navbar .navbar-brand {
    padding-left: 2%;
    font-size: 2rem;
}

.nav-link {
    margin: 10px;
}